/* App.css */

.md\:hidden {
  display: none;
}

.md\:flex {
  display: flex;
}

.hidden {
  display: none;
}

.block {
  display: block;
}

/* Burger Menu Styles */
button {
  background: none;
  border: none;
  cursor: pointer;
}

button:focus {
  outline: none;
}

/* Additional styling for navigation links */
nav a {
  text-decoration: none;
  color: white;
}

nav a:hover {
  text-decoration: underline;
}

